<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>¡Gracias por dejarnos tu contacto!</p>
<p>Te invitamos a ver nuestro <a href="https://lab9.omatic.com.ar/landing-cocyar/assets/files/brochure_prueba.pdf">Brochure</a>, para que puedas evaluar nuestras obras y los servicios que prestamos, seguramente podemos ser de mucha utilidad para tu empresa.</p>
<p>Sí necesitas ampliar esa información o querés ponerte en contacto con nosotros podés responder a este mail o conectarte al ±54 9 342 5414813</p>
<p>Quedamos atentos a cualquier inquietud que tengas.  </p>
<p>Saludos cordiales.-</p>
<p>ÁREA COMERCIAL <br> COCYAR SA</p>
</body>
</html>