<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>¡Gracias por dejarnos tu contacto!</p>
<p>Te invitamos a ver el <a href="https://lab9.omatic.com.ar/landing-cocyar/assets/files/brochure_prueba.pdf">brochure</a> de nuestra empresa.</p>
<p>Área Comercial – COCYAR SA</p>
</body>
</html>